@font-face {
  font-family: 'TF2';
  src: url('TF2.ttf');
}

body {
font-family: 'TF2';
background: url("https://random-scrub.github.io/heavy.jpg") no-repeat center center fixed;
background-size: cover;
color: white;
}

h1 { 
text-align: center;
}

.answer { 
position: fixed;
bottom: 15;
font-size: 2em;
width: 100%;
text-align: center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

#since {
text-align: center;
font-size: 1.5em;
position: fixed;
bottom: 0;
width: 100%;
}